body{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin: 50px;
        background-image: url("../img/pokedex.PNG");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 750px;
    }
.cir{
    display: block;
	border-radius: 50%;
    margin-bottom: 50px;
}
.circle1{
    width: 50px;
	height: 50px;
	/*margin: 50px auto 0;*/
    background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
    border: solid 3px silver;
}
.circle2{
    width: 20px;
	height: 20px;
	/*margin: 50px auto 0;*/
    background: radial-gradient(circle at 65% 15%, white 1px, pink 3%, darkred 60%, pink 100%);
    border: solid 1px black;
}
.circle3{
    width: 20px;
	height: 20px;
	/*margin: 50px auto 0;*/
    background: radial-gradient(circle at 65% 15%, white 1px, yellow 3%, olive 60%, yellow 100%);
    border: solid 1px black;
}
.circle4{
    width: 20px;
	height: 20px;
	/*margin: 50px auto 0;*/
    background: radial-gradient(circle at 65% 15%, white 1px, lime 3%, darkgreen 60%, lime 100%);
    border: solid 1px black;
}
.pokeDiv{
    display: flex;
    max-width: 200px;
}
.title{
    width: 100%;
    height: auto;
    max-width: 800px; 
}
.pokeSvg{
    border: 2px;
    border-radius: 10px;
    background-image: url("../img/background.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 200px;
    height: 200px;
    background-color: white;
    opacity: 20%;
    position: absolute;
}
.pokeImg{
    opacity: 100%;
    z-index: 9;
}
.pokeRealName{
    margin-top: 5px;
    font-size: 20pt;
    align-self: center;
    font-weight: bold;
}
.typenormal{
    background-color: rgb(252, 115, 137);
    color: black;
}
.typefighting{
    background-color: rgb(41, 4, 255);
    color: white;
}
.typeflying{
    background-color: rgb(255, 251, 0);
    color: black;
}
.typepoison{
    background-color: rgb(162, 0, 255);
    color: white;
}
.typeground{
    background-color: rgb(252, 59, 0);
    color: white;
}
.typerock{
    background-color: rgb(121, 121, 121);
    color: white;
}
.typebug{
    background-color: rgb(0, 252, 176);
    color: black;
}
.typeghost{
    background-color: rgb(66, 0, 248);
    color: white;
}
.typesteel{
    background-color: rgb(24, 24, 24);
    color: white;
}
.typefire{
    background-color: rgb(255, 30, 0);
    color: white;
}
.typegrass{
    background-color: rgb(11, 255, 2);
    color: black;
}
.typewater{
    background-color: rgb(0, 162, 255);
    color: white;
}
.typeelectric{
    background-color: rgb(255, 174, 0);
    color: black;
}
.typepsychic{
    background-color: rgb(225, 0, 255);
    color: white;
}
.typeice{
    background-color: rgb(0, 217, 255);
    color: black;
}
.typedragon{
    background-color: rgb(255, 85, 6);
    color: white;
}
.typedark{
    background-color: rgb(0, 0, 0);
    color: white;
}
.typefairy{
    background-color: rgb(253, 76, 135);
    color: white;
}
.typeunknown{
    background-color: rgb(0, 0, 0);
    color: white;
}
.typeshadow{
    background-color: rgb(68, 0, 255);
    color: white;
}
#pokeName{
  border-radius: 5px;  
  height: 20px;
  margin-bottom: 15px;
}
.pokeDivBtn{
    max-width: 400px;
    min-width: 200px;
    text-align: left;
}
.pokeDivBtn img{
    float: right;
    align-content: center;
}
.pokeBtn{
    background-color: darkgreen;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    font-weight: bold;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}
.front {
    display: block;
    padding: 12px 2px;
    border-radius: 12px;
    font-size: 10pt;
    background: greenyellow;
    color: darkgreen;
    transform: translateY(-6px);
  }
.pokeBtn:active .front {
    transform: translateY(-2px);
  }
.pokeDivStats{
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      background-color: rgb(34, 34, 34);
      min-width: 325px;
      max-width: 50%;
      min-height: 200px;
      max-height: 500px;
      margin-left: 50px;
  }
#pokeType{
    margin-top: auto;
    padding: 3px;;
    font-weight: bold;
    text-align: center;
  }
#dvTable{
      color: white;
      text-align: center;
      border: 2px solid white;
      width:fit-content;
      min-width: 320px;
      margin-left: auto; 
      margin-right: auto;
  }
th, td{
      border: 1px solid white;
      padding: 4px;
      width: 60px;
  }
.tipo{
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
}
#dvMoves ul{
    height:200px; 
    overflow:hidden;
    overflow-y:scroll;
    color: white;
}